In [11]:
import pandas as pd 
import seaborn as sb
import matplotlib.pyplot as plt
from nltk.corpus import stopwords

In [12]:
Fake_news=pd.read_csv("Fake.csv")
True_news=pd.read_csv("True.csv")

In [13]:
Fake_news.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [14]:
Fake_news['Label']=1
True_news['Label']=0

In [15]:
data=pd.concat([True_news,Fake_news],ignore_index=True)
data = data.sample(frac=1).reset_index(drop=True)

In [16]:
data.sample(5)

,title,text,subject,date,Label
8946,WATCH: John McCain Becomes A Confused Babblin...,"On Thursday, thanks to strange Senate rules, J...",News,"June 8, 2017",1
8653,Five Republican Candidates Will Join Bigot Pa...,Five Republican presidential hopefuls are sche...,News,"January 14, 2016",1
42652,Trump’s FCC Will Decimate Internet Freedom (V...,Republicans on the Federal Communications Com...,News,"May 19, 2017",1
22818,Nigeria's Buhari urges calm after herdsmen kil...,ABUJA (Reuters) - Nigeria s President Muhammad...,worldnews,"September 9, 2017",0
6736,GOP Leadership At Fault For Predicted Collaps...,"As Addicting Info reported here, the citizens ...",News,"March 5, 2016",1

In [18]:
stop_words=set(stopwords.words('english'))

def transform_text(text):
    text=text.lower()
    text=text.split()
    cleaned_text=[]
    for word in text:
        word="".join(char for char in word if char not in string.punctuation)
        if (word):
            word="".join(char for char in word if char not in ['0','1','2','3','4','5','6','7','8','9'])
            if (word):
                if word not in stop_words:
                    cleaned_text.append(word)
    return " ".join(cleaned_text)

In [43]:
data.head()

,title,text,subject,date,Label
0,catalan government appeal direct rule constitu...,madrid reuters catalonia plans appeal applicat...,worldnews,"October 24, 2017",0
1,alec baldwin joins antitrump protest gives spe...,next days america world matter protesting pres...,news,"January 20, 2017",1
2,exclusive wells fargo account scandal extends ...,new york reuters scandal improper sales practi...,politicsnews,"October 4, 2016",0
3,trump warns emboldened iran comply nuclear deal,youngstown ohio reuters us president donald tr...,politicsnews,"July 26, 2017",0
4,‘all hat cattle’ sarah sanders hits back ‘cowg...,sarah sanders hit back criticism general kelly...,politics,"Oct 20, 2017",1